Django==1.6.5
PyYAML==3.11
SocksiPy-branch==1.01
argparse==1.2.1
beautifulsoup4==4.3.2
cssselect==0.9.1
django-haystack==2.1.0
html2text==2014.7.3
lxml==3.3.5
psycopg2==2.5.3
pysolr==3.2.0
requests==2.3.0
simplejson==3.5.2
urllib3==1.8.2
wsgiref==0.1.2
